.header {
    &__user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        &__name {
            max-width: 90px;
            max-height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            font-weight: 600;
            margin-right: 0.625rem;
        }
        &__avatar {
            min-width: 50px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: relative;
            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }
    }
}