# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#---Front---

# dependencies
/api/node_modules

/front/node_modules
/front/.pnp
/front/.pnp.js

# testing
/front/coverage

# production
/front/build

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

/front/.env
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local


#---API---
# misc
.DS_Store
/api/.env
/api/.env.local
/api/.env.development.local
/api/.env.test.local
/api/.env.production.local

/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*

