.header {
  &__nav {
    &__drop{
      position: absolute;
      right: 0px;
      top:3rem;
      display: none;
      flex-direction: column;
      min-width: 100px;
      padding: 0.75rem 0px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0px 0px 0.375rem 0px rgba(0, 0, 0, 0.25);
      transition: all 0.3s;
      a {
        display: flex;
        font-size: 0.875rem;
        font-weight: 400;
        padding: 0.25rem 1.25rem;
        color: #000;
        text-decoration: none;
        &:hover {
          background-color: #efefef ;
        }
      }
    }
    &:hover &__drop {
      display: flex;
      transition: all 0.3s;
    }
  }
}