.header {
    &__logo {
      display: flex;
      cursor: pointer;
      a {
        display: block;
        width: 13rem;
        max-width: 13rem;
        img {
          padding-top: 0.5rem;
          width: auto;
       } 
    }
    }
}